@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -ms-overflow-style: none;
    background-color: black;
}

::-webkit-scrollbar {
    display: none;
}

.sldier-last-child:nth-child(8) {
    transform-origin: center right;
}
